.body {
    max-width: 100%;
    margin-top: 50px;
    background-color: rgb(241,239,236);
  }

  .enlaces{
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    
  }
  
  .enlaces div{
    display: flex;
    flex-direction: row;
    margin-left: 25%;
  }

  .enlaces h5{
    font-size: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #iniciales {
    display: flex;
    justify-content: flex-start;
    margin-top: 0px;
    font-size: 29vw;
  }