body {
  max-width: 100%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.seccion1 {
  background-color: black;
  color: white;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.datos {
  display: flex;
  flex-direction: row;
  gap: 180px;
  align-content: flex-start;
  margin-left: 20px;
}

.header nav {
  display: flex;
  align-content: flex-end;
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
  margin-right: 12px;
}

.datos p {
  width: 30ch;
  font-size: 25px;
}

.datos h3 {
  font-size: 30px;
}

.link {
  text-decoration: none;
  display: flex;
  font-size: 20px;
  color: white;
  align-content: flex-start;
}

.li-nav {
  display: flex;
  justify-content: flex-end;
}

.navigation a:hover {
  color: #ff0000;
  text-decoration: underline;
}

#iniciales {
  display: flex;
  justify-content: flex-start;
  margin-top: 0px;
  font-size: 29vw;
}
